{% extends "base.html"%}
{% block title%}Página de usuário{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {%if messages %}
            {% for msg  in messages %}
                <p>{{msg}}</p>
            {%endfor%}
        {% endif%}
    {% endwith %}
<form action="#" method="POST">
    <input type="frente" name="frente" placeholder="Digite a frente que gostaria de ver" value="{{frente}}"/>
    <input type="submit" value="submit"/>
</form>
{% endblock %}